body {
background: black;
font-family: "Alumni Sans SC", sans-serif;
}

.cadastro {
   text-align: center;
   position: relative;
   top: 100px;
   left: 600px;
   width: 350px;
   border: solid;
   border-radius: 20px;
   background-color: #ffffff;
   
}
.BemVindo {
   text-align: left;
   font-size: 25px;
   margin-left: 70px;
   height: 500px;
   width: 200px;
   padding: 50px;
   border-radius: 45px;
   box-shadow: 10px 10px 20px #000000;
   position: absolute;
   top: 50px;
   filter: drop-shadow(2px);
   background-color: white;
   padding: 40px;
}
.botâo {
   width: 180px;
   height: 40px;
   background-color: black;
   color: white;
   font-family: "Alumni Sans SC", sans-serif;
   font-size: 16px;
   margin-top: 20px;
   position: relative;
}


.botao:hover {
   background-color: #1d1b1b;
   cursor: pointer;
}

input {
   height: 25px;
   position:relative;
   top: -10px;
}
input:hover {
   background-color: #e8e0e0;
}
p {
 color: #413e3e;
}

.LucroFatu {
   position: absolute;
   top: 50px;
   left: 450px;
   width: 300px;
   height: 200px;
   border-radius: 40px;
   box-shadow: 10px 10px 20px #000000;
   filter: drop-shadow(2px);
   background-color: white;
   
}

.MostrarFaturamento {
   font-size: large;
   margin-left: 20px;
}
.MostrarLucro {
   font-size: large;
   margin-left: 20px;
}
#MostrarLucro {
   margin-left: 20px;
   font-size: 20px;
}
#MostrarFaturamento {
   margin-left: 20px;
   font-size: 20px;
}

