.login {
   text-align: center;
   position: relative;
   top: 100px;
   left: 600px;
   width: 350px;
   border: solid black;
   border-radius: 20px;
}
body {
    font-family: "Alumni Sans SC", sans-serif;
    background-color: black;
}
.login {
   background-color: white;
}